extends _src/_pug/_extend_cl

//- layout 에서 선언한 공통적인 title 값이 맨뒤에 들어 감.
block title
	title 코딩리스트 #{title}
	//- 뎁스별로 경로 바꿀때
	//- - var url_css_0 = url_css_1;
	//- - var url_js_0 = url_js_1;
	//- - var url_img_common_0 = url_img_common_1;

block keywords&description
	meta(name="keywords" content="")
	meta(name="description" content="")

block property
	meta(property="og:title" content="")
	meta(property="og:url" content="")
	meta(property="og:image" content="")
	meta(property="og:description" content="")

append css
	style.
		html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;line-height:1.15}
		article,aside,audio,blockquote,body,canvas,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,mark,nav,ol,p,pre,section,td,textarea,th,time,ul,video{margin:0;padding:0}
		body{font-family:Dotum,"돋움",Gulim,"굴림","Helvetica Neue",Helvetica,Arial,Verdana,Tahoma,sans-serif;color:#000;background-color:#fff;font-size:12px}
		img{vertical-align:middle;border:0}
		button,input,optgroup,select,textarea{margin:0;font-size:100%;vertical-align:middle;font-family:sans-serif;line-height:1.15}
		button,input{overflow:visible}
		button,select{text-transform:none}
		[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}
		[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}
		[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}
		[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
		::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
		table{border-collapse:collapse;border-spacing:0}
		fieldset{border:0}
		legend{color:#000}
		address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
		ol,ul{list-style:none}
		caption,th{text-align:left}
		h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400;line-height:1}
		caption,hr,legend{width:0;height:0;font-size:1px;text-indent:-9999em;line-height:0}
		a,a:active,a:focus,a:hover,a:link,a:visited{color:#000;font-size:100%;text-decoration:none}
		a{background-color:transparent;-webkit-text-decoration-skip:objects}
		abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;-moz-text-decoration:underline dotted;text-decoration:underline dotted}
		audio,video{display:inline-block}
		audio:not([controls]){display:none;height:0}
		svg:not(:root){overflow:hidden}

		.hide-txt{
			overflow:hidden;
			position:absolute;
			width:1px;height:1px;
			font-size:1px;line-height:0;
			clip: rect(0 0 0 0);
			white-space: nowrap;
			margin: -1px;padding: 0;border: 0;
		}

		.cl_info_area{position:relative;width:100%;}
		.cl_info_area .project_tit{font-size:32px;padding:20px 20px 20px 20px;border-bottom:2px solid #000}
		.cl_link_area{;background:#fff;padding:0;border-bottom:2px solid #000}
		.cl_link_area .cl_link_area,.cl_link_area .link_category,.cl_link_area .link_other{padding:5px}
		.cl_link_area .link_other{text-align:left}
		.cl_link_area .link_other>a{display:inline-block;border:1px solid #000;margin-right:15px;padding:10px 20px 10px 20px;background-color:#555;color:#fff}
		.cl_link_area .link_other>a:hover{-webkit-box-shadow:5px 5px 13px #999;box-shadow:5px 5px 13px #999}
		.cl_link_area .link_category{width:100%;text-align:left}
		.cl_link_area .link_category>a{display:inline-block;border:1px solid #000;margin-right:15px;padding:6px 10px 4px 10px}
		.cl_link_area .link_category>a:hover{background:#ddd}
		.cl_link_area .page_count_area{padding:10px;border-top:2px solid #000}
		.cl_link_area .page_count_area span{display:inline-blcok;font-weight:700;margin-right:20px}
		.cl_link_area .page_count_area span span{font-weight:400;margin-left:5px;margin-right:0}
		.cl_list_area{position:relative;width:100%;}
		.cl_list_area .cl_list_detail{width:100%;overflow-x:auto;}
		.cl_list_area .cl_category_tit{padding:20px 10px 10px 10px;font-weight:700}
		.cl_list_area .page_count_category{display:inline-block}
		.cl_list_area .cl_table{width:100%}
		.cl_list_area .cl_table thead th{padding:10px 5px;border:1px solid #e2e2e2;text-align:center;background:#cbf2f5}
		.cl_list_area .cl_table tbody td{padding:10px 5px;border:1px solid #e2e2e2;text-align:center}
		.cl_list_area .cl_table tbody tr:nth-child(even){background:#f1f9f9}
		.cl_list_area .cl_table tbody td.p_num{width:50px;table-layout:fixed}
		.cl_list_area .cl_table tbody td.p_depth01{width:140px;table-layout:fixed;text-align:left}
		.cl_list_area .cl_table tbody td.p_depth02{width:140px;table-layout:fixed;text-align:left}
		.cl_list_area .cl_table tbody td.p_depth03{width:140px;table-layout:fixed;text-align:left}
		.cl_list_area .cl_table tbody td.p_depth04{width:140px;table-layout:fixed;text-align:left}
		.cl_list_area .cl_table tbody td.p_depth05{width:140px;table-layout:fixed;text-align:left}
		.cl_list_area .cl_table tbody td.p_folder{width:120px;table-layout:fixed;text-align:left}
		.cl_list_area .cl_table tbody td.p_filename{width:200px;table-layout:fixed;text-align:left}
		.cl_list_area .cl_table tbody td.p_type{width:50px;table-layout:fixed;padding:0}
		.cl_list_area .cl_table tbody td.p_time{width:50px;table-layout:fixed;padding:0}
		.cl_list_area .cl_table tbody td.p_modify{width:70px;table-layout:fixed;padding:0}
		.cl_list_area .cl_table tbody td.p_status{width:50px;table-layout:fixed}
		.cl_list_area .cl_table tbody td.p_percent{width:50px;table-layout:fixed}
		.cl_list_area .cl_table tbody td.p_script01{width:50px;table-layout:fixed}
		.cl_list_area .cl_table tbody td.p_script02{width:50px;table-layout:fixed}
		.cl_list_area .cl_table tbody td.p_etc{color:red;text-align:left}
		.cl_list_area .cl_table tbody td.p_etc .blue{color:blue;}
		.cl_list_area .cl_table .p_link{text-decoration:underline}
		.cl_list_area .cl_table .p_link_open{color:#00f}
		.cl_list_area .cl_table .p_link_dev{color:#00f}
		.cl_list_area .cl_table .p_time_s{padding:6px 0 2px 0;border-bottom:1px solid #e2e2e2}
		.cl_list_area .cl_table .p_time_e{padding:6px 0 2px 0}
		.cl_list_area:last-child{margin-bottom:100px}



//- layout 에서 정의한 변수를 아래와 같이 페이지 별로 사용 가능.
//- var bodyClass = 'index_page_body'
//- var wrapClass = 'index_page_wrap'
block vars
	- var bodyClass = '';
	- var wrapClass = '';

block wrap

	#wrap
		#content
			div.cl_info_area
				h1.project_tit
					| 제목

			div.cl_link_area
				//- div.link_other
				//- 	a(href="#", target="_blank")
				//- 		| 외부링크1
				//- 	a(href="#", target="_blank")
				//- 		| 외부링크2
				//- 	a(href="#", target="_blank")
				//- 		| 외부링크3

				//- //- 링크를 추가 해주고 아래 컨텐츠 영역에 div 도 추가해 준다.
				//- //- 추가 해준 곳의 변수값을 동일하게 수정한다.
				//- div.link_category
				//- 	a(href="#") 메인
				//- 	a(href="#") 프로그램
				//- 	a(href="#") 프로토타입
				//- 	a(href="#") 기타

				div.page_count_area
					span.pc_all 전체
						span 0
					span.pc_ing 진행중
						span 0
					//- span.pc_modify 수정중
					//- 	span 0
					span.pc_end 완료
						span 0
					span.pc_percent 진행률
						span 0
						| %

			//- 믹스인 영역
			//- 테이블 공통 헤드 영역
			mixin table_thead
				thead
					tr
						th no
						th depth 1
						th depth 2
						th depth 3
						th depth 4
						th depth 5
						th folder
						th filename
						th type
						th
							//- div.p_time_s 시작일
							div.p_time_e 완료일
						//- th 최근수정일
						th 진행상태
						th 진행률
						th 스크립트<br>유무
						th 스크립트<br>진행률
						th 비고

			//- 테이블 링크 영역 localLink, devLink 변수에 내용 작성하면 됩니다.
			- var localLink = './'
			- var devLink = 'http://uxdev.etribe.co.kr/프로젝트폴더이름'
			mixin page_link(urlLocal, urlDev, page_name)
				a.p_link(href=urlLocal) #{page_name}
				a.p_link_open(href=urlLocal, target="_blank") [새창]
				a.p_link_dev(href=urlDev, target="_blank") [dev]

			//- 테이블 컨텐츠 영역
			mixin table_contents(categorySub1, categorySub2, categorySub3, categorySub4, categorySub5, folder, pageName, pageType, pageEnd, pageStatus, pageP, script01, script02)
				//- tr
				//- 번호
				td.p_num
				//- depth 01
				td.p_depth01 #{categorySub1}
				//- depth 02
				td.p_depth02 #{categorySub2}
				//- depth 03
				td.p_depth03 #{categorySub3}
				//- depth 04
				td.p_depth04 #{categorySub4}
				//- depth 05
				td.p_depth05 #{categorySub5}
				//- folder
				td.p_folder #{folder}
				//- file name
				td.p_filename
					+page_link(localLink + folder + pageName, devLink + folder + pageName, pageName)
				//- type
				td.p_type #{pageType}
				//- 시작일, 종료일
				td.p_time
					//- div.p_time_s #{pageStart}
					div.p_time_e #{pageEnd}
				//- //- 최근수정일
				//- td.p_modify #{pageModify}
				//- 진행상태
				td.p_status #{pageStatus}
				//- 진행률 %
				td.p_percent #{pageP}
				//- 스크립트 유무
				td.p_script01 #{script01}
				//- 스크립트 진행률
				td.p_script02 #{script02}


			//- 프로토타입
			include _cl01

			//- 메인
			include _cl02

			//- 카테고리 01
			include _cl03

			//- 카테고리 02
			include _cl04





append script
	script.
		$(function(){
			var allCount = $('.p_status:contains()').length;
			var noCount = $('.p_status:contains(-)').length;
			var endCount = $('.p_status:contains(완료)').length;
			var ingCount = $('.p_status:contains(진행중)').length;
			//- var modifyCount = $('.p_status:contains(수정중)').length;
			var all_sum_count = allCount - noCount;
			var all_ing_count = endCount + ingCount - noCount;
			var eCount = endCount / all_ing_count * 100;

			//- console.log(endCount);
			//- console.log(ingCount);
			//- console.log(modifyCount);
			//- console.log(allCount);

			$('.pc_ing>span').text(ingCount);
			//- $('.pc_modify>span').text(modifyCount);
			$('.pc_end>span').text(endCount);
			//- (-) 대쉬로 표시된 파일들은 카운트 하지 않음
			$('.pc_all>span').text(all_sum_count);
			$('.pc_percent>span').text(eCount.toFixed(0));

			// page number auto
			$('.cl_table>tbody').each(function(){
				$(this).children().children('td.p_num').each(function(index){
					//- console.log(index);
					$(this).text(index + 1);
				});
			});

		});
