extends ../../_src/_pug/_extend_html5

//- layout 에서 선언한 공통적인 title 값이 맨뒤에 들어 감.
block title
	title #{metaTitle_main} #{title}
	//- 뎁스별로 경로 바꿀때
	- var url_css_0 = url_css_2;
	- var url_js_0 = url_js_2;
	- var url_img_common_0 = url_img_common_2;

block keywords&description
	meta(name="keywords" content=`${metaKeywords_main}`)
	meta(name="description" content=`${metaDescription_main}`)

block property
	meta(property="og:title" content=`${ogTitle_main}`)
	meta(property="og:url" content=`${ogUrl_main}`)
	meta(property="og:image" content=`${ogImage_main}`)
	meta(property="og:description" content=`${ogDescription_main}`)

append css
	link(href=`${url_css_0}category.css`, type='text/css', rel='stylesheet')
//- 	style.
//- 		html{font-size:24px;}
//- 		.aaa div{font-size:1.8rem;}
//- 		.bbb div{font-size:12px}
//- 		.ccc div{font-size:1.2em}
//- layout 에서 정의한 변수를 아래와 같이 페이지 별로 사용 가능.
//- var bodyClass = 'index_page_body'
//- var wrapClass = 'index_page_wrap'
block vars
	- var bodyClass = ''
	- var wrapClass = ''

block contents
	#container

		#content(role='main')
			| 컨텐츠 시작
			

			.tab-group#tab
				.tab-wrap
					ul.tab-list
						li(role="tab")
							a(href="#")  아우터
						li(role="tab")
							a(href="#") 상의
						li(role="tab")
							a(href="#") 하의
						li(role="tab")
							a(href="#") 신발
						li(role="tab")
							a(href="#") 가방
				.tab-area.tab__contents
					.tab-group 111111111
					.tab-group 2222222222
					.tab-group 333333333
					.tab-group 444444444
					.tab-group 55555555

append script
	script.
		let tabWrap = $('.tab-list');
		let tabList = tabWrap.find('li');
		let idx = 1;
		let tabContent = $('.tab-group').find('.tab__contents > div');
		let btn = tabList.find('a');

		tabList.eq(idx - 1).addClass('on').attr('aria-selected', 'true');
		tabContent.hide();
		tabContent.eq(idx - 1).show();

		for(let i = 0; i<tabList.length; i++){
			let listId = $('.tab-group').attr('id');
			tabList.eq(i).attr({'aria-index' : `${listId}${i}`, 'id' : `tab${listId}${i}`});
			tabContent.eq(i).attr('aria-label' , `tab${listId}${i}`);
		}

		btn.on('click', function(){
			let index = tabList.index();
			let thisIndex = $(this).parent().index();
			tabList.removeClass('on').attr('aria-selected','false');
			$(this).parent().addClass('on').attr('aria-selected','true');
			tabContent.hide();
			tabContent.eq(thisIndex).show();
		})